.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}


.firstNav{
    
    background-color: black;
    color: white;
    text-transform: uppercase;
    
}

.firstNav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.secondNav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;

}

.logoNav{
    height: 200px;
    width: 200px;
}

.opcoes {
    display: flex;
    justify-content: space-between;
}

.opcoes li {
    list-style-type: none;
    padding: 0 10px;
}

.areaUsuario{
    display: flex;
    justify-content: space-around;
}

.areaUsuario li{
    list-style-type: none;
}

.areaUsuario li:hover{
    background-color: rgba(128, 128, 128, 0.474);
    border-radius: 50%;
}

.areaUsuario img{
    height: 30px;
    width: 30px;
    padding: 10px;
    margin: 0.5;
}

.promoDestaque {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px; /* Ajuste conforme necessário */
    z-index: 1; 
}

.setaEsquerda, .setaDireita {
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    z-index: 2; /* Garante que as setas fiquem na frente da imagem */
}
    

.setaEsquerda {
    left: 10px; /* Ajuste conforme necessário */
    background-image: url('/arquivos_SVG/setaEsquerda.svg');
    height: 196px;
    width: 130px;
    background-repeat: no-repeat;
    
}

.setaDireita {
    right: 10px; /* Ajuste conforme necessário */
    background-image: url('/arquivos_SVG/setaDireita.svg');
    height: 196px;
    width: 130px;
    background-repeat: no-repeat;
}

.promoDestaque{
    height: 400px ;
    width: 100%;
    z-index: 0;
    
}

button:hover{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.textoPrincipal{
    font-size: 60px;
    text-transform: uppercase;
}

.promocoesItems{
    display: flex;
    gap: 100px;
    margin-top: 20px;
}

.chamadas{
    margin-bottom: 30px;
}

.nomePrincipal{
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 300;
}

.subNome{
    font-size: 10px;
    text-transform: uppercase;
}

.rocket{
    font-family: "Rock Salt", sans-serif;
}

.containerLista{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.containerLista li{
    list-style-type: none;
    margin-top: 10px;
}

.containerProdutos{

    display: flex;
    flex-direction: row;
    justify-content: space-around;
   
}

.imgProdutos{
    height: 200px;
    width: 200px;
    
}